---
layout: default
title: List of Works 
author: Yuri Umemoto
author_ja: 梅本佑利
my_value: type
---

  <p>
   {{page.title}} by {{page.author}} /  {{page.author_ja}}, 作品および活動 
  </p>
  <div id="listdata">
    <div class="form-group row">
      <label for="keyword">search terms / 検索 </label>
      <div class="col-md-8">
        <input id="keyword" class="search form-control form-control-lg" placeholder="input keywords" size="50" />
      </div>
      <div class="col-md-4">
      <select id="type" class="form-control form-control-lg onChange="List();">
        <option value="any"> all categories 全分野 </option>
        <option value="videogram">videogram 映像作品</option>
        <option value="composition">composition 作曲</option>
        <option value="performance">performance 上演</option>
      </select>
      </div>
    
    </div>
    <span id="hits"></span>
    <div class="form-group">
      <ul class="pagination list-inline"></ul>
    </div>
    <br>
    <ul class="list list-unstyled">
      {% for item in site.data.works %}
      <li >
      <p class="horizon"></p>
      <dl>
        <dt class="title"> <B> {{ item.title }} </B> </dt>
        <dt class="title_ja"> <B> {{ item.title_ja }} </B> </dt>
        {% if item.for %}
        <dd class="for"> for {{ item.for }}</dd>
        {% endif %}
        <dd class="date">{{ item.date  }}</dd>
        <dd class="place">{{ item.place }}</dd>
        <dd class="type">{{ item.type }}</dd>
      {% if item.jasrac %}
        <dd class="jasrac">JASRAC {{ item.jasrac }}</dd>
      {% endif %}
        <dd class="year">{{ item.year }}</dd>
        <dd class="note">{{ item.note }}</dd>
      {% if item.url %}
        <dd class="url"> <a href="{{ item.url }}" target="_blank"> {{ item.url }} </a> </dd>
      {% endif %}
      </dl>
      </li>
      {% endfor %}
    </ul>
  </div>
  <hr>
  <footer>
    <a href="#top">Back to Top / ページトップへ</a>
  </footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.fuzzysearch.js/0.1.0/list.fuzzysearch.min.js"></script>
<script>

var fuzzyOptions = {
  searchClass: "fuzzy-search",
  location: 0,
  distance: 100,
  threshold: 0.4,
    multiSearch: true
　};

var options = {
    valueNames: ['title', 'title_ja', 'for', 'type', 'jasrac', 'year', 'date', 'place', 'note', 'url'],
    plugins: [
      ListFuzzySearch(fuzzyOptions)
  　],
    searchDelay: 300,

    page: 15,
    pagination: {
      paginationClass: 'pagination',
      innerWindow: 4,
      outerWindow: 1,
    }
  };

  var listObj = new List('listdata', options);

  $('#keyword').on('input', function() {
    var searchString = $(this).val();
    listObj.search(searchString);
 $('#hits').html( "該当 " +  listObj.matchingItems.length + "件  (ref. L99)");

  });

  $('#type').change(function() {
    type = $('option:selected').val();
    listObj.filter(function(item) {
      if (type === 'any') {
        return true;
      }
      else if (item.values().type.indexOf(type) > -1) {
        return true;
      }
      else {
        return false;
      }
  });
  $('#hits').html( "該当 " +  listObj.matchingItems.length + "件  (ref. L115)");
});
  
window.addEventListener('load', ()=>{
    const url = new URL(window.location.href);
    const  q = url.searchParams.get("q") || "any";
    //const k = url.searchParams.get("k");
    //document.getElementById("keyword").value = k;
    document.getElementById("type").value = q;
     //   listObj.search(k);
    listObj.search();
     
     //
    if (q == "composition" || q == "videogram" || q == "performance" ){
    listObj.filter(function(item) {
      if (item.values().type == q) {
        return true;
      } else {
        return false;
            }
    });
  };

  $('#hits').html( "該当 " +  listObj.matchingItems.length + "件  (ref. L140)");
  }, true);
 
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
